
.content {
  flex: 1 1 auto;
  padding: 2em;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  padding: 3em 1em;
  color: #222035;
  background-color: #f5f6ffd4;
  border-radius: 1em;
  font-family: 'Roboto', sans-serif;
}

section {
  margin: 0.4em 0 1em 0px;
}

