.header {
  padding: 0.6em;
  background-color: black;
  color: white;
  display: flex;
}

.logo {
  font-family: 'Mansalva', cursive;
  font-size: 2em;
}

.option {
  width: 100%;
}

.option-image-wrapper {
  position: relative;
}

.option-image {
  width: 100%;
  height: auto;
}

.option-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 40%, rgba(16, 33, 46, .64) 100%);
}

.option-title {
  position: absolute;
  bottom: 0em;
  left: 0em;
  margin: 0.7em;
  color: #ffffff;
  text-shadow: 1px 1px 2px #555555;
  font-family: 'Roboto', sans-serif;
}

.field-name {
  font-weight: bold;
}

.option-info {
  margin: 1em;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
}

.address {
  margin-top: 0.3em;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding: 0px;
  width: 70%;
}

