.content {
  flex: 1 1 auto;
  padding: 2em;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title {
  margin: 0px;
  padding: 0.5em 0.5em;
}

.card {
  padding: 1em 1em;
  color: #222035;
  background-color: #f5f6ffd4;
  border-radius: 1em;
  font-family: 'Roboto', sans-serif;
}

.summary {
  margin: 1em 0px;
  padding: 0.5em;
  border: 1px solid black;
  border-radius: 1em;
  background-color: #f5f6ffd4;
}

.header-row {
  width: 100%;
  padding: 0px 0.5em;
  display: flex;
}

.header-row > div {
  padding: 0px 0.2em;
  margin: 0px 0.2em;
  font-size: 1.2em;
}

.row {
  width: 100%;
  padding: 0.5em;
  display: flex;
}

.row > div {
  padding: 0.2em;
  font-size: 1.2em;
}

.option-title {
  flex: 1 1 auto;
}

.header-label {
  margin: 0.2em;
  flex: 0 0 2em;
  box-sizing: content-box;
  margin: 0px;
  padding: 0px;
  align-self: center;
  text-align: center;
}

.option-icon {
  box-sizing: content-box;
  flex: 0 0 2.2em;
  height: 1.2em;
  align-self: center;
  text-align: center;
  border: 3px solid rgb(32, 39, 99);;
  background-color: rgb(48, 64, 208);
}

.yes {
  color: #18c418;
  border-top-right-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
}

.no {
  color: #c42f2f;;
  border-top-left-radius: 0.4em;
  border-bottom-left-radius: 0.4em;
}

.inactive {
  background-color: #f5f6ffd4;
  color: grey;
  border: 1px solid grey;
}
