.header {
  padding: 0.6em;
  background-color: black;
  color: white;
}

.logo {
  font-family: 'Mansalva', cursive;
  font-size: 2em;
  margin: 0px;
}

.content {
  flex: 1 1 auto;
  padding: 2em;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title {
  margin: 0px;
  padding: 0.5em 0.5em;
}

.card {
  padding: 1em 1em;
  color: #222035;
  background-color: #f5f6ffd4;
  border-radius: 1em;
  font-family: 'Roboto', sans-serif;
}

.summary {
  margin: 1em 0px;
  padding: 0.5em;
  border: 1px solid black;
  border-radius: 1em;
  background-color: #f5f6ffd4;
}

.header-row {
  width: 100%;
  padding: 0px 0.5em;
  display: flex;
}

.header-row > div {
  padding: 0px 0.2em;
  margin: 0px 0.2em;
  font-size: 1.2em;
}

.row {
  width: 100%;
  padding: 0.5em;
  display: flex;
}

.row > div {
  padding: 0.2em;
  margin: 0.2em;
  font-size: 1.2em;
}

.option-title {
  flex: 1 1 auto;
}

.header-label {
  flex: 0 0 2em;
  box-sizing: content-box;
  margin: 0px;
  padding: 0px;
  align-self: center;
  text-align: center;
}

.option-icon {
  box-sizing: content-box;
  flex: 0 0 2em;
  height: 1.2em;
  align-self: center;
  text-align: center;
  border: 1px solid black;
  border-radius: 0.2em;
  background-color: white;
}

.yes {
  color: #18c418;
}

.no {
  color: #c42f2f;;
}

.inactive {
  background-color: #f5f6ffd4;
  color: grey;
  box-shadow:2px 2px 1px 1px #40467bd4;
}

.yes-button {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  text-align: center;
  color: white;
  margin: 0.2em;
  padding: 1em;
  background-color: #18c418;
}